/*	
 *  RUTETID
 *  SPRING 2010
 *
 *  COLLABORATORS:
 *  ----------------------------------------------------------------
 *
 *  Hein Haraldson Berg
 *  Tor Løvskogen Bollingmo
 *  Adrian Dvergsdal
 *  Raymond Julin
 *
 *  ----------------------------------------------------------------
 *
 *  KEEP THIS STYLESHEET ORGANIZED AND CLEAN. THANKS M8!
 *
 *  ================================================================     */


/*  GENERIC CSS / FRAMEWORK
    ----------------------------------------------------------------     */

html { height: 100%; }

body {
    font-size: 12px;
    line-height: 1;
    font-family: Arial, "Lucida Grande", Tahoma, FreeSans, sans-serif;
    background: #269EBA url(/gfx/body-bg-x.png) 0 0 repeat-x;
    color: #333;
    height: 100%;
}

.clear  { clear: both; }
.rel    { position: relative; }
.abs    { position: absolute; }
.hid    { overflow: hidden; }

#rutetid { background: url(/gfx/rutetid-bg.png) 50% 0 no-repeat; }

#wrap {
    width: 402px;
    min-height: 644px;
    padding: 40px 10px;
    margin: 0 auto;
}

h1 {
    font-size: 46px;
    text-transform: uppercase;
    text-align: center;
    color: #0A819D;
    font-weight: bold;
    padding: 0 0 30px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
    letter-spacing: -.05em;
}

#section-content {
    background: #FFF;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    border-top: 1px solid rgba(36, 145, 169, .7);
}

#route-search {
    padding: 19px;
}

#route-search ul {
    float: left;
    clear: left;
}

#route-search ul li {
    padding: 0 0 15px;
}

#route-search ul li label {
    display: block;
    width: 28px;
    height: 25px;
    padding: 0 9px 0 0;
    cursor: pointer;
    text-align: right;
    text-transform: uppercase;
    color: #03657D;
    font-weight: bold;
    font-size: 14px;
    float: left;
    clear: left;
}

#route-search ul li input {
    float: right;
    clear: right;
    border: 1px solid #076f8D;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
}

#route-search button.submit {
    width: 144px;
    height: 68px;
    background: url(/gfx/button-show-routes.png) 0 0 no-repeat;
    text-indent: -9999px;
    border: 0;
    padding: 0;
    cursor: pointer;
    float: right;
    clear: right;
}

#route-search button.submit:active,
#route-search button.submit:focus {
    top: 1px;
    left: 1px;
    outline: none;
}

#route-search button.submit:hover { opacity: .85; }