/*	
 *  RUTETID
 *  SPRING 2010
 *
 *  COLLABORATORS:
 *  ----------------------------------------------------------------
 *
 *  Hein Haraldson Berg
 *  Tor Løvskogen Bollingmo
 *  Adrian Dvergsdal
 *  Raymond Julin
 *
 *  ----------------------------------------------------------------
 *
 *  KEEP THIS STYLESHEET ORGANIZED AND CLEAN. THANKS M8!
 *
 *  ================================================================     */


/*  GENERIC CSS / FRAMEWORK
    ----------------------------------------------------------------     */

html { height: 100%; }

body {
    font-size: 12px;
    line-height: 1;
    font-family: Arial, "Lucida Grande", Tahoma, FreeSans, sans-serif;
    background: #269EBA url(/gfx/body-bg-x.png) 0 0 repeat-x;
    color: #333;
    height: 100%;
}

/*  TO REDUCE CSS REDUNDANCY, JUST MAKE USE OF THESE CLASSES IN HTML
    ----------------------------------------------------------------     */

.clear  { clear: both; }
.rel    { position: relative; }
.abs    { position: absolute; }
.hid    { overflow: hidden; }

strong  { font-weight: bold; }
em      { font-style: italic; }

#rutetid { background: url(/gfx/rutetid-bg.png) 50% 0 no-repeat; }

#wrap {
    width: 422px;
    min-height: 644px;
    padding: 0 0 30px;
    margin: 0 auto;
}

h1 {
    height: 93px;
    background: url(/gfx/heading-finn-bussruter.png) 50% 30px no-repeat;
    text-indent: -9999px;
}

#section-content {
    width: 402px;
    padding: 0 10px;
    float: left;
    background: url(/gfx/content-bg-top.png) 10px 0 no-repeat;
}

#route-search {
    width: 364px;
    padding: 19px;
    float: left;
}

#route-search ul {
    float: left;
    clear: left;
}

#route-search ul li {
    float: left;
    clear: left;
    padding: 0 0 20px;
}

#route-search ul li label {
    display: block;
    width: 28px;
    height: 25px;
    line-height: 25px;
    padding: 0 9px 0 0;
    cursor: pointer;
    text-transform: uppercase;
    color: #0B7C98;
    font-weight: bold;
    font-size: 14px;
    float: left;
    clear: left;
}

#route-search ul li input {
    float: right;
    clear: right;
    background: url(/gfx/input-170.png) 0 0 no-repeat;
    border: none;
    width: 154px;
    height: 25px;
    padding: 0 8px;
    font-size: 14px;
    color: #004E65;
    font-weight: bold;
}

ul.ui-autocomplete {
    width: 168px;
    background: #F7FBFC;
    border: 1px solid #7EC5D6;
    border-top: none;
    border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-right-radius: 6px;
    margin: -2px 0 0 1px;
    overflow: hidden;
}

ul.ui-autocomplete li a {
    display: block;
    font-size: 11px;
    line-height: 1.25;
    color: #004154;
    padding: 4px 7px;
}

ul.ui-autocomplete li:last-child a {
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
}

ul.ui-autocomplete li a.ui-state-hover,
ul.ui-autocomplete li a.ui-state-active {
    background: #004154;
    color: #FFF;
}

#route-search button.submit {
    width: 144px;
    height: 68px;
    background: url(/gfx/button-show-routes.png) 0 0 no-repeat;
    text-indent: -9999px;
    border: 0;
    padding: 0;
    cursor: pointer;
    float: right;
    clear: right;
    margin: 2px;
}

#route-search button.submit:active,
#route-search button.submit:focus { background-position: 0 -68px; }

#route-search button.submit:hover { opacity: .85; }

#routes {
    width: 402px;
    padding: 10px 10px 51px;
    float: left;
    top: -27px;
    left: -10px;
    background: url(/gfx/routes-thead.png) 0 0 no-repeat;
}

#routes table { width: 402px; }

#routes th,
#routes td {
    vertical-align: middle;
}

#routes thead th {
    height: 30px;
    color: #FFF;
    font-size: 14px;
}

#routes tbody td {
    height: 35px;
    background: #FFD7CE;
    color: #4B0E01;
    border-right: 1px solid #F9A08C;
    border-left: 1px solid #FBD3CA;
}

#routes tbody .odd td {
    background: #FFBBAC;
    border-right-color: #F98F78;
}

#routes tbody .shadow td {
    background: #ED9480;
    height: 3px;
    border-right-color: #E97358;
    border-left-color: #EAA596;
}

#routes .no {
    width: 70px;
    padding: 0 15px;
    border-left: none;
}

#routes .here {
    width: 119px;
    padding: 0 15px;
}

#routes .there {
    width: 119px;
    padding: 0 15px;
    border-right: none;
}

#routes #show-more-routes {
    display: block;
    width: 408px;
    height: 51px;
    bottom: 0;
    left: 7px;
    text-indent: -9999px;
    background: url(/gfx/button-show-more-routes.png) 0 0 no-repeat;
}