/*	
 *	RUTETID
 *	SPRING 2010
 *
 *  COLLABORATORS:
 *  ________________________________________________________________
 *
 *	Hein Haraldson Berg
 *	Tor Løvskogen Bollingmo
 *  Adrian Dvergsdal
 *  Raymond Julin
 *
 *	----------------------------------------------------------------
 *
 *	KEEP THIS STYLESHEET ORGANIZED AND CLEAN. THANKS M8!
 *
 *	================================================================     */


/*	GENERIC CSS / FRAMEWORK
	----------------------------------------------------------------     */

body {
	font-size: 12px;
	line-height: 1;
	font-family: "Lucida Grande", Tahoma, FreeSans, sans-serif;
	background: #FFF;
	color: #333;
}

