/*	
 *  RUTETID
 *  SPRING 2010
 *
 *  COLLABORATORS:
 *  ----------------------------------------------------------------
 *
 *  Hein Haraldson Berg
 *  Tor Løvskogen Bollingmo
 *  Adrian Dvergsdal
 *  Raymond Julin
 *
 *  ----------------------------------------------------------------
 *
 *  KEEP THIS STYLESHEET ORGANIZED AND CLEAN. THANKS M8!
 *
 *  ================================================================     */


/*  GENERIC CSS / FRAMEWORK
    ----------------------------------------------------------------     */

html { height: 100%; }

body {
    font-size: 11px;
    line-height: 1;
    font-family: Arial, "Lucida Grande", Tahoma, FreeSans, sans-serif;
    background: #269EBA url(/gfx/body-bg-x.png) 0 0 repeat-x;
    color: #000;
    height: 100%;
}

/*  TO REDUCE CSS REDUNDANCY, JUST MAKE USE OF THESE CLASSES IN HTML
    ----------------------------------------------------------------     */

.clear  { clear: both; }
.rel    { position: relative; }
.abs    { position: absolute; }
.hid    { overflow: hidden; }

strong  { font-weight: bold; }
em      { font-style: italic; }

#rutetid { background: url(/gfx/rutetid-bg.png) 50% 0 no-repeat; }

#wrap {
    width: 422px;
    min-height: 644px;
    padding: 0 0 30px;
    margin: 0 auto;
}

#wrap.wide {
    width: 758px;
    padding: 0;
}

#section-top {
    width: 422px;
    height: 94px;
    float: left;
    background: url(/gfx/header.png) 19px 22px no-repeat;
    text-indent: -9999px;
}

#section-top a {
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}



/*  MAIN SEARCH SITE
    ================================================================     */

#section-content {
    width: 402px;
    padding: 0 10px;
    float: left;
    background: url(/gfx/content-bg-top.png) 10px 0 no-repeat;
}


/*  [FORM] ROUTE SEARCH
    ----------------------------------------------------------------     */

#route-search {
    width: 369px;
    height: 114px;
    padding: 14px 14px 0 19px;
    float: left;
}

#route-search ul,
#route-search ul li {
    float: left;
    clear: left;
}

#route-search ul li { padding: 0 0 5px; }
#route-search ul li:first-child { margin-top: 5px; }

#route-search ul li label {
    display: block;
    width: 28px;
    height: 25px;
    line-height: 25px;
    padding: 0 9px 0 0;
    cursor: pointer;
    text-transform: uppercase;
    color: #0B7C98;
    font-weight: bold;
    font-size: 14px;
    float: left;
    clear: left;
}

#route-search ul li input {
    float: left;
    background: url(/gfx/input-170.png) 0 0 no-repeat;
    border: none;
    width: 154px;
    height: 25px;
    padding: 0 8px;
    font-size: 14px;
    color: #004E65;
    font-weight: bold;
}

#route-search ul li.dim.small input {
    width: 50px;
    padding: 0;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    color: #71A4B2;
    background-image: url(/gfx/input-50-dim.png);
} 

#route-search ul li .help {
    display: block;
    float: left;
    height: 25px;
    line-height: 25px;
    padding: 0 8px;
    color: #0B7D99;
    font-size: 12px;
}


/*  AUTOCOMPLETE DROPDOWN STYLING
    ----------------------------------------------------------------     */

ul.ui-autocomplete {
    width: 168px;
    background: #F7FBFC;
    border: 1px solid #7EC5D6;
    border-top: none;
    border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-right-radius: 6px;
    margin: -2px 0 0 1px;
    overflow: hidden;
}

ul.ui-autocomplete li a {
    display: block;
    line-height: 1.25;
    color: #004154;
    padding: 4px 7px;
}

ul.ui-autocomplete li:last-child a {
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
}

ul.ui-autocomplete li a.ui-state-hover,
ul.ui-autocomplete li a.ui-state-active {
    background: #004154;
    color: #FFF;
}

#route-search button.submit {
    width: 144px;
    height: 68px;
    background: url(/gfx/button-show-routes.png) 0 0 no-repeat;
    text-indent: -9999px;
    border: 0;
    padding: 0;
    cursor: pointer;
    float: right;
    clear: right;
    margin: 2px;
}

#route-search button.submit:active,
#route-search button.submit:focus { background-position: 0 -68px; }

#route-search button.submit:hover { opacity: .85; }


/*  ROUTE SEARCH HITS
    ----------------------------------------------------------------     */

#routes {
    width: 402px;
    padding: 10px 10px 51px;
    float: left;
    top: -27px;
    left: -10px;
    background: url(/gfx/routes-thead.png) 0 0 no-repeat;
}

#routes table { width: 402px; }

#routes th,
#routes td {
    vertical-align: middle;
    font-size: 12px;
}

#routes thead th {
    height: 30px;
    color: #FFF;
    font-size: 14px;
    text-indent: -9999px;
    border-right: 1px solid #CD3614;
    border-left: 1px solid #F56E59;
}

#routes thead .shadow td {
    background: #ED9480;
    height: 3px;
    border-right: 1px solid #E97358;
    border-left: 1px solid #EAA596;
}

#routes tbody td {
    height: 35px;
    background: #FFD7CE;
    color: #4B0E01;
    border-right: 1px solid #F9A08C;
    border-left: 1px solid #FFE3DD;
}

#routes tbody .odd td {
    background: #FFBBAC;
    border-right-color: #F98F78;
    border-left-color: #FBD3CA;
}

#routes tbody td .dim { color: rgba(75, 14, 1, .5); }

#rutetid #routes .no {
    width: 74px;
    padding: 0 11px 0 15px;
    border-left: none;
}

#routes .here {
    width: 127px;
    padding: 0 11px;
}

#rutetid #routes .there {
    width: 127px;
    padding: 0 11px;
    border-right: none;
}

#rutetid #routes .no-borders { border: none; }

#routes #show-more-routes {
    display: block;
    width: 408px;
    height: 51px;
    bottom: 0;
    left: 7px;
    text-indent: -9999px;
    background: url(/gfx/button-show-more-routes.png) 0 0 no-repeat;
}

#routes .bottom {
    display: block;
    width: 408px;
    height: 17px;
    bottom: 34px;
    left: 7px;
    background: url(/gfx/search-bottom-generic.png) 0 0 no-repeat;
}

#routes .info td {
    padding: 16px 22px 0 22px;
    font-family: Helvetica, Arial, "Lucida Grande", Tahoma, FreeSans, sans-serif;
    color: #430F03;
}

#routes .info td h2 {
    font-size: 20px;
    font-weight: bold;
    padding: 0 0 10px;
}

#routes .info td p {
    font-size: 12px;
    line-height: 1.67;
    margin: 0 0 14px;
}

#routes .info td a {
    color: #023E4C;
    font-weight: bold;
    text-decoration: underline;
}

#routes .info td a:hover { text-decoration: none; }



/*  ROUTE EDIT — INSERT ADDITIONAL BUS STOPS
    ================================================================     */

.wide #section-content {
    width: 758px;
    padding: 0;
    background: none;
}

#edit-route {
    background: #FFF;
    width: 214px;
    float: left;
    clear: left;
    border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-right-radius: 6px;
}


/*  [FORM] CHOOSE ROUTE TO EDIT
    ----------------------------------------------------------------     */

#choose-route {
    width: 184px;
    float: left;
    padding: 15px 15px 10px;
    border-bottom: 1px solid #E0E0E0;
}

#choose-route label {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 0 7px;
}

#choose-route select {
    width: 160px;
    margin: 0 0 12px;
    float: left;
    clear: left;
}

#choose-route button {
    float: right;
    clear: right;
}


/*  THE STOPS OF ONE ROUTE
    ----------------------------------------------------------------     */

#stops {
    width: 214px;
    padding: 20px 0;
    float: left;
}

#stops li {
    font-size: 11px;
    line-height: 1.64;
}

#stops li.stop { padding: 0 20px; }

#stops li a {
    display: block;
    padding: 0 20px;
    color: #00A2FF;
    text-decoration: underline;
}

#stops li a:hover { text-decoration: none; }

#stops li.add.active {
    background: #FFFD8B;
    border-top: 1px solid #CCCA6F;
    border-bottom: 1px solid #CCC;
    padding: 5px 0 15px;
}

#stops li.add.active a { display: none; }

#stops li.add form {
    padding: 10px 20px 0;
}


/*  ROUTE DEPARTURES
    ----------------------------------------------------------------     */

#route-departures {
    width: 542px;
    float: right;
    clear: right;
    border: 1px solid #07586B;
    background-color: white;
}
#route-departures h2 {
    font-weight: bold;
    padding: 0 0 7px;
    text-transform: uppercase;
}

#route-departures .day {
    float: left;
    margin-left: 10px;
}
#route-departures .day:first-child {
    margin-left: 0;
}

/*  ROUTE MAP
    ----------------------------------------------------------------     */

#route-map {
    width: 542px;
    float: right;
    clear: right;
    border: 1px solid #07586B;
}



/*  ABOUT LINK AND POPOVER
    ================================================================     */

#about {
    display: block;
    width: 150px;
    height: 31px;
    line-height: 31px;
    color: #FFF;
    text-decoration: none;
    bottom: 10px;
    left: 20px;
}

#about:hover { text-decoration: underline; }

#popover-about {
    width: 340px;
    height: 430px;
    padding: 26px 31px;
    top: 94px;
    left: 50%;
    margin-left: -201px;
    color: #FFF;
    background: url(/gfx/pop-over-bg.png) 0 0 no-repeat;
    display: none;
}

#popover-about h2 {
    height: 24px;
    background: url(/gfx/pop-over-about-heading.png) 0 0 no-repeat;
    font-weight: bold;
    padding: 0 0 7px;
    text-transform: uppercase;
    text-indent: -9999px;
    margin: 0 0 12px;
}

#popover-about p {
    font-size: 12px;
    line-height: 1.67;
    padding: 0 0 12px;
}

#popover-about .contributors {
    width: 402px;
    left: -31px;
    background: url(/gfx/pop-over-hr.png) 0 0 no-repeat;
    padding: 0 0 15px;
}

#popover-about .contributors ul {
    width: 336px;
    padding: 21px 33px 0;
    float: left;
    background: url(/gfx/pop-over-hr.png) 0 100% no-repeat;
}

#popover-about .contributors ul li.person {
    width: 69px;
    float: left;
    text-align: center;
    padding: 0 20px 18px 0;
}

#popover-about .contributors ul li.last { padding-right: 0; }

#popover-about .contributors ul li.person img {
    display: block;
    margin: 0 0 8px;
}

#popover-about .contributors ul li.person h2 {
    font-size: 12px;
    line-height: 1.67;
}

#popover-about .contributors ul li.person .pos {
    font-size: 11px;
    line-height: 1.45;
    padding: 0;
    color: rgba(255, 255, 255, .75);
}

#popover-about .employer { text-align: center; }

#popover-about a {
    color: #005F76;
    text-decoration: underline;
}

#popover-about a:hover { text-decoration: none; }

#popover-about .close {
    display: block;
    width: 18px;
    height: 18px;
    top: 10px;
    right: 10px;
    text-indent: -9999px;
    background: url(/gfx/pop-over-close.png) 0 0 no-repeat;
}

/*  ADMIN STUFF
    ================================================================     */
#admin-body {
    width: 800px;
    margin: 0 auto;
}

#user-list {
    margin: 20px 0 0 20px;
}
#user-list th, #user-list td {
    padding: 0.6em 10px;
    border: 1px solid #ccc;
}
